
body {
  font-family:sans-serif, Arial, Helvetica;
  color: #626567;
}
#main {
  background-color: #F2F3F4;
  border-radius: 4px;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 30px;
  padding-bottom: 20px;
}
.image {
  background-color: #FDFEFE;
  max-width: 100%;
}
img {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: auto;
}
figcaption {
  margin: 20px;
}
section {
  margin: 0 auto;
  width: 40%;
  max-width:100%;
  text-align: left;
}

section li {
  margin-top: 10px;
  line-height: 2.5;
}
#quote {
  margin-left: 25px;
  font-style: italic;
  line-height: 1.8
}
#tribute-message {
  font-size: 18px;
  font-weight: bold;
  margin-top: 40px;
}

